<md-grid-list cols="3" rowHeight="100px">
  <md-grid-tile colspan="2" rowspan="2"></md-grid-tile>
  <md-grid-tile colspan="1" rowspan="1">
    <button md-raised-button class="half-width button-50" color="accent" (click)="onClickRegistarse()">Registrarse</button>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="1"></md-grid-tile>

  <md-grid-tile colspan="1"></md-grid-tile>

  <md-grid-tile colspan="1">
    <md-input-container class="full-width">
      <input md-input placeholder="Username" [(ngModel)]="user.username"/>
    </md-input-container>
  </md-grid-tile>

  <md-grid-tile colspan="1"></md-grid-tile>

  <md-grid-tile colspan="1"></md-grid-tile>

  <md-grid-tile colspan="1">
    <md-input-container class="full-width">
      <input md-input placeholder="Password" type="password" [(ngModel)]="user.password"/>
    </md-input-container>
  </md-grid-tile>

  <md-grid-tile colspan="1"></md-grid-tile>

  <md-grid-tile colspan="1"></md-grid-tile>

  <md-grid-tile colspan="1">
    <button md-raised-button class="full-width button-50" [disabled]="!validForm()" color="primary" (click)="onClickLogin(user)">Login</button>
  </md-grid-tile>

  <md-grid-tile colspan="1"></md-grid-tile>

</md-grid-list>
