<md-grid-list cols="3" rowHeight="100px">
  <md-grid-tile colspan="3"></md-grid-tile>

  <md-grid-tile colspan="1"></md-grid-tile>
  <md-grid-tile colspan="1">
    <md-input-container class="full-width">
      <input md-input placeholder="Username" [(ngModel)]="user.username"/>
    </md-input-container>
  </md-grid-tile>
  <md-grid-tile colspan="1"></md-grid-tile>

  <md-grid-tile colspan="1"></md-grid-tile>
  <md-grid-tile colspan="1">
    <md-input-container class="full-width">
      <input md-input placeholder="Password" type="password" [(ngModel)]="user.password"/>
    </md-input-container>
  </md-grid-tile>
  <md-grid-tile colspan="1"></md-grid-tile>

  <md-grid-tile colspan="1"></md-grid-tile>
  <md-grid-tile colspan="1">
    <md-input-container class="full-width">
      <input md-input placeholder="Repeat Password" type="password" [(ngModel)]="user.repeatPassword"/>
    </md-input-container>
  </md-grid-tile>
  <md-grid-tile colspan="1"></md-grid-tile>

  <md-grid-tile colspan="1"></md-grid-tile>
  <md-grid-tile colspan="1">
    <button md-raised-button class="full-width button-50" color="accent" [disabled]="!validForm()" (click)="onClickRegistrarse(user)">Registrarse</button>
  </md-grid-tile>
  <md-grid-tile colspan="1"></md-grid-tile>

</md-grid-list>
